<%= link_to "answer", answer_path %>

<form action="/answer" method="get" data-turbo="false">
  <input type="text" class="input-group input-group-lg"  name="question">
  <input type="submit" class="btn btn-primary mb-3" value="Ask!">
</form>
